.btn {
    width: fit-content;
    padding: 8px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 8px;
}

.btn-primary {
    color: #ececec;
    font-weight: bold;
    border-color: #326836;
    background-color: #326836;
    padding: 10px 15px;
}

.btn-primary:hover {
    background-color: #39833e;
    border-color: #39833e;
}

.btn-trans-fill-primary {
    color: #3f6e43;
    border-color: #326836;
}

.btn-trans-fill-primary:hover {
    color: #3e6b41;
    border-color: #2d5e31;
}

.btn-transparent {
    border: 0;

}
