@import './base.css';
@import '../styles/v-custom.css';
@import '../styles/khavin-home.css';
@import '../styles/button.css';
@import '../styles/company.css';

#app {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.khavin-moon-style {
  background-color: #062231;
  color: #dddddd;
}

.cursor-pointer {
  cursor: pointer;
}

.m-r-15 {
  margin-right: 15px;
}

.font-style-italic {
  font-style: italic;
}

.danger-message {
  color: #e41616;
}

.success-message {
  color: rgb(0, 202, 0);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
